<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManagementSystem.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\library.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.datatableConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\User\Downloads\Compressed\Library-management-software\Library management software\Library management software\datatable.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.datatableConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;F:\C# project\LibraryManagementSystem\Library management software(final)\Library management software\Library management software\datatable.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>